{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Quran, aazhbd, aazhbd@yahoo.com" />
	<meta name="Copyright" content="Quran, aazhbd, aazhbd@yahoo.com" />
	<meta name="description" content="{% block description %}This site takes a humble attempt to provide a set of facilities for comprehensive research on Quran and available materials as well as allow discussions for better understanding.{% endblock %}" />
	<meta name="keywords" content="Quran, translations,Islam, teachings of quran, surah, surat, languages, meaning, understanding quran {% block keywords %} {% endblock %}" />
	<meta name="robots" content="index, follow, I followed" />
    
    <title>Quran - {% block title %} Home {% endblock %}</title>
	<link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    
    <link href="{% static 'css/zstyle.css' %}" rel="stylesheet" type="text/css" media="screen" />
	<link href="{% static 'css/forms.css' %}" rel="stylesheet" type="text/css" media="screen" />
	<link href="{% static 'css/menus.css' %}" rel="stylesheet" type="text/css" media="screen" />
	<link href="{% static 'css/pure.css' %}" rel="stylesheet" type="text/css" media="screen" />
	<!--[if lte IE 6]>
	<link href="{% static 'css/msie.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
	<![endif]-->

	<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'js/jquery.validate.min.js' %}"></script>

	{% block scripttags %}{% endblock %}
</head>

<body>
    <div id="contentheader">
        <div id="banner">
			<a href="/home">
            	<img src="{% static 'images/logo_quran_conveylive.png' %}" id="logo" />
			</a>

			{% block contentheader %}
			<div id="navigatemenu">
				<div class="pure-menu pure-menu-horizontal">
					<ul class="pure-menu-list">
						<li class="pure-menu-item">
							<a href="/home" class="pure-menu-link">Home</a>
						</li>
						<li class="pure-menu-item">
							<a href="/discuss" class="pure-menu-link">Discussion</a>
						</li>
						<li class="pure-menu-item">
							<a href="/info" class="pure-menu-link">Info</a>
						</li>
					</ul>
				</div>
			</div>
			
			<div id="search" class="pure-form">
				<form class="frmsearch" method="post" id="frmsearch" action="/search/">
					{% csrf_token %}
					<span>
						<input type="text" class="search"  placeholder="Search keywords in Quran" name="search">
						<input type="submit" class="btnsearch pure-button pure-button-primary" value="Search" id="submit" name="submit">
					</span>
				</form>
			</div>
			{% endblock %}
			
			<div id="topright">
				{% if not user.is_authenticated %}
					<a href="/login">Login</a> |
					<a href="/signup">Sign Up</a>
					<br />
					Join in to participate in discussions.
				{% endif %}
				{% if user.is_authenticated %}
					{% if user.first_name != "" or user.last_name != "" %}
						{{user.first_name}} {{user.last_name}}
					{% else %}
						{{user.username}}
					{% endif %}
					<br />
					<a href="/discuss">Participate in discussions</a> | <a href="/logout">Logout</a>
				{% endif %}
			</div>

        </div>
    </div>
    
    <div id="contentbody">
		{% if messages %}
			{% for message in messages %}
				<div id="reports">{{ message }}</div>
			{% endfor %}
		{% endif %}
		
		{% block languageselectors %}{% endblock %}

		{% if title %}
        <h2 class="title">
			{{ title }}
		</h2>
		{% endif %}

		<div class="body">
			{% block content %}This page is under construction.{% endblock %}
		</div>
    </div>
    
    <div id="footer">
        <p>
			&copy; 2013 - 2015 <a href="mailto:aazhbd@yahoo.com">AAZ H</a> | <a href="http://www.articulatelogic.com/">ArticulateLogic.com</a>
			| <a href="/home">Home</a>
			| <a href="/discuss">Discussion</a>
			| <a href="/info">Info</a>
		</p>
    </div>
	<script type="text/javascript">
		$('body').append($('<div class="ajax-loading"/>').css({'background-image': 'url({% static "images/loading.gif" %})', position: 'fixed', top: 0, left: 0, height: '100%', width: '100%', 'z-index': 1000, 'background-color': "rgb( 255, 255, 255, .8 )", 'background-position': '50% 50%', 'background-repeat': 'no-repeat'}).hide());
		$(document).ajaxStart(function() { $('.ajax-loading').show(); }).ajaxStop(function() { $('.ajax-loading').hide(); });
	</script>
</body>
</html>
<!--
/**
* Quran Template.
*
* @author        ArticulateLogic Labs
* @author        Abdullah Al Zakir Hossain, Email: aazhbd@yahoo.com
* @copyright     Copyright (c)2013-2015 ArticulateLogic Labs
* @link          http://www.articulatelogic.com
* @since         Version 1.0
*
*/
-->