{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %} Details of Chapter {{cnum}} {% endblock %}

{% block description %} Quran, chapter {{cnum}}, {% endblock %}
{% block keywords %} Quran, chapter {{cnum}}, {% endblock %}

{% block scripttags %}
<script type="text/javascript">
	$(document).ready(function() {
		$("input[name='langselector[]']").click(function() {
			var clickData = $(this).val();

			if(!$(this).is(':checked')) {
				var author_id = $(this).attr('data-author');
				$('.author-' + author_id).remove();
				return;
			}

			var data = {
				authorName : clickData,
				chapterNum : {{cnum}},
				'csrfmiddlewaretoken' : '{{ csrf_token }}',
			};

			var url = "/getchapter";

			var args = {
				type : "POST",
				url : url,
				data : data,

				success : function(result) {
					for(i = 0; i < result.length; i++)
					{
						var tmp = $('#verseTrans' + result[i].verseNum).html();

						var str = '<div class="author-'  + result[i].authorid + '">[' + result[i].lang + '-' + result[i].author + '] &nbsp;<span class="verseTxt">' + result[i].vtext + '</span></div>';

						$('#verseTrans' + result[i].verseNum).html(tmp + str);
					}
				},
			};

			xhr = $.ajax(args);
		});
	});
</script>
{% endblock %}

{% block languageselectors %}
<div id="selectors">
	<form action="#" method="post" class="pure-form">
		<fieldset>
			<legend>Choose from the set of available data:</legend>

			{% for m in authors %}
			<div class="choices">
				<label for="langselect{{m.id}}" class="pure-checkbox">
					<input type="checkbox" name="langselector[]" data-author="{{m.id}}" value="{{m}}" id="langselect{{m.id}}" /> {{m.alang}} - {{m}}
				</label>
			</div>
			{% endfor %}
		</fieldset>
	</form>
</div>
{% endblock %}

{% block content %}
<div class="lowered_body">
	<div class="homemsg">
		{% if msg_body %}
		<h4>{{msg_body}}</h4>
		{% endif %}
	</div>

	<div id="backlinks">
		<a href="/home">Home </a> > <a href="/{{cnum}}">Chapter {{cnum}} </a>
	</div>

	{% if cnum != "9" and cnum != "1" %}
	<div class="verseBox" id="verse">
		<span class="verseTxt">بسم الله الرحمن الرحيم</span> &nbsp;&nbsp;&nbsp; <span class="verseTxt">bismi-llāhi r-raḥmāni r-raḥīm</span>
	</div>
	<div class="verseBox" id="verse">
		<span class="verseTxt">In the name of God, the Most Gracious, the Most Merciful.</span>
	</div>
	{% endif %}


	{% for m in full_chap %}
	<div class="commentBox">
		<p>
			<a href="/{{m.chapter.id}}/{{m.number}}">{{m.chapter.id}}:{{m.number}}</a> | [{{m.author.alang}}-{{m.author}}] {{m.vtext}} &nbsp; [ <a href="/{{m.chapter.id}}/{{m.number}}/">Details and Discuss</a> ]
		</p>
		<div id="verseTrans{{m.number}}" class="transV"></div>
	</div>
	{% endfor %}
</div>
{% endblock %}
