{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %} Participate in discussions {% endblock %}

{% block content %}
<div class="homemsg">
	{% if msg_body %}
	<h4>{{msg_body}}</h4>
	{% endif %}
</div>

{% for c in comments %}
<div class="commentBox">
	<div class="subtitle">
		{{c.comment_type}} on verse
		<a href="/{{c.cnum}}/{{c.vnum}}/">
			{{c.cnum}}:{{c.vnum}}
		</a>
	</div>
	<p>
		{{ c.ctext|truncatechars:280 }} <a href="/{{c.cnum}}/{{c.vnum}}/">[ Details and Reply ]</a>
	</p>

	<div class="verseAuth">
		{% if c.user.first_name != "" or c.user.last_name != "" %}
			Posted by {{ c.user.first_name }} {{ c.user.last_name }}
		{% else %}
			Posted by {{ c.user }}
		{% endif %} on {{ c.date_published }}
	</div>
</div>
{% endfor %}
{% endblock %}
