{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %} Search result for : {{searchkey}} {% endblock %}

{% block description %} Quran, All translations in serveral languages, search key {{searchkey}} in Quran, {% endblock %}
{% block keywords %} Quran, translations, several languages {% endblock %}

{% block content %}
<div class="homemsg">
	{% if msg_body %}
		<div class="title">{{msg_body}}</div>
	{% endif %}
</div>

{% if searchkey %}
<div class="title">The result for search key: {{searchkey}}</div>
<p>A total of {{totalresult}} results found</p>
{% else %}
<div class="title">No search results found. Please enter a valid search key.</div>
{% endif %}

<div id="searchmore">
	{% if pageNum > 1  %}
	<a class="pure-button pure-button-primary" style="float: left;" href='/search/{{searchkey}}/{{pageNum|add:"-1"}}'>< Previous </a>
	{% endif %}

	{% if pageNum <= totalpages %}
	<a class="pure-button pure-button-primary" style="float: right;" href='/search/{{searchkey}}/{{pageNum|add:"+1"}}'> Next ></a>
	{% endif %}
</div>

{% if titleresult %}
	{% for m in titleresult %}
	<div class="commentBox">
		<p>
			Found in Chapter title: <a href="/{{m.id}}/">Chapter: {{m.english_name}} - {{m.arabic_name}} - {{m.transliteration}}</a> <a href="/{{m.id}}">View details of Chapter {{m.id}}</a>
		</p>
	</div>
	{% endfor %}
{% endif %}

{% if verseresult %}
	{% for m in verseresult %}
	<div class="commentBox">
		Chapter: <a href="/{{m.chapter.id}}/{{m.number}}">{{ m.chapter.id }}:{{ m.number }}</a>
		<a href="/{{m.chapter.id}}/{{m.number}}"> {{ m.chapter.english_name }} - {{ m.chapter.arabic_name }} - {{ m.chapter.transliteration }}</a>
		|
		<span class="verseTxt">{{ m.vtext|safe|escape }}</span>
		<a href="/{{m.chapter.id}}/{{m.number}}/">Details and Discuss</a>
		<br /><a href="/{{m.chapter.id}}/{{m.number}}">{{ m.author }}</a>
	</div>
	{% endfor %}
{% endif %}


{% if commentresult %}
	{% for m in commentresult %}
	<div class="commentBox">
		<p>
			Discussion at: <a href="/{{m.cnum}}/{{m.vnum}}/">{{m.cnum}} : {{m.vnum}}</a> | {{m.ctext}} <a href="/{{m.cnum}}/{{m.vnum}}/">Details</a>
			<br />Language: {{m.author.alang}} - Source: {{m.author}}
		</p>
	</div>
	{% endfor %}
{% endif %}

<div id="searchmore">
	{% if pageNum > 1  %}
		<a class="pure-button pure-button-primary" style="float: left;" href='/search/{{searchkey}}/{{pageNum|add:"-1"}}'>< Previous </a>
	{% endif %}

	{% if pageNum <= totalpages %}
		<a class="pure-button pure-button-primary" style="float: right;" href='/search/{{searchkey}}/{{pageNum|add:"+1"}}'> Next ></a>
	{% endif %}
</div>


{% endblock %}
