{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %} Verse {{cnum}}:{{vnum}} Details {% endblock %}

{% block description %} Quran, chapter {{cnum}}, verse {{vnum}}, Quran {{cnum}}:{{vnum}}, {% for c in comments %} {{c.ctext}}, {% endfor %} {% endblock %}
{% block keywords %} Quran, chapter {{cnum}}, verse {{vnum}}, Quran {{cnum}}:{{vnum}} {% endblock %}

{% block scripttags %}
<script type="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("input[name='langselector[]']").click(function() {
			var clickData = $(this).val();

			if(!$(this).is(':checked')) {
				var author_id = $(this).attr('data-author');
				$('.author-' + author_id).remove();
				return;
			}

			var data = {
				authorName : clickData,
				chapterNum : {{cnum}},
				verseNum : {{vnum}},
				'csrfmiddlewaretoken' : '{{ csrf_token }}',
			};

			var url = "/getverse";

			var args = {
				type : "POST",
				url : url,
				data : data,

				success : function(result) {
					for(i = 0; i < result.length; i++)
					{
						var tmp = $('#verseTrans' + result[i].verseNum).html();

						var str = '<div class="author-'  + result[i].authorid + '">[' + result[i].lang + '-' + result[i].author + '] &nbsp;<span class="verseTxt">' + result[i].vtext + '</span></div>';

						$('#verseTrans' + result[i].verseNum).html(tmp + str);
					}
				},
			};

			xhr = $.ajax(args);
		});
	});
</script>
{% endblock %}

{% block languageselectors %}
<div id="selectors">
	<form action="#" method="post" class="pure-form">
		<fieldset>
			<legend>Choose from the set of available data:</legend>

			{% for m in authors %}
			<div class="choices">
				<label for="langselect{{m.id}}" class="pure-checkbox">
					<input type="checkbox" name="langselector[]" data-author="{{m.id}}" value="{{m}}" id="langselect{{m.id}}" /> {{m.alang}} - {{m}}
				</label>
			</div>
			{% endfor %}
		</fieldset>
	</form>
</div>
{% endblock %}

{% block content %}
<div class="lowered_body">
	<div class="homemsg">
		{% if msg_body %}
			<h4>{{msg_body}}</h4>
		{% endif %}
	</div>

	<div id="backlinks">
		<a href="/home">Home </a> > <a href="/{{cnum}}">Chapter {{cnum}} </a> > <a href="/{{cnum}}/{{vnum}}">Verse {{vnum}}</a>

		<div style="float:right;">
			{% if pprevious %}
			<a class="pure-button pure-button-primary" href="/{{cnum}}/{{vnum|add:-1}}/">Previous Verse</a>
			{% endif %}
			&nbsp;&nbsp;&nbsp;
			{% if pnext %}
			<a class="pure-button pure-button-primary" href="/{{cnum}}/{{vnum|add:1}}/">Next Verse</a>
			{% endif %}
		</div>
	</div>

	{% for m in verse %}
		<div class="commentBox">
			<p>
				<a href="/{{m.chapter.id}}/{{m.number}}">{{m.chapter.id}}:{{m.number}}</a> | [{{m.author.alang}}-{{m.author}}] {{m.vtext}}
			</p>
			<div id="verseTrans{{m.number}}" class="transV"></div>
		</div>

		{% if request.user.is_authenticated %}
		<form action="/{{m.chapter.id}}/{{m.number}}/" method="post" class="pure-form pure-form-aligned" id="commentForm">
			{% csrf_token %}
			<fieldset>
				<legend>Post your comment about this verse</legend>
				<div class="pure-control-group">
					<label for="id_comment_type">Comment type:</label>
					<select id="id_comment_type" name="comment_type" class="pure-input-1-2">
						<option selected>Translation</option>
						<option>Explanation</option>
						<option>Question</option>
						<option>Comment</option>
					</select>
				</div>

				<div class="pure-control-group">
					<label for="comment">Comment: </label>
					<textarea placeholder="Enter your comment" class="pure-input-1-2" name="comment" id="comment"></textarea>
				</div>

				<div class="pure-control-group">
					<label for="hiddenRecaptcha" style="float: left;">Captcha:</label>
					<div class="g-recaptcha" data-sitekey="6LfsqBATAAAAAPt_BXPWzWmlP0f22ydpdL_7iOsb" style="float: left; margin: 5px; "></div>
					<input id="hiddenRecaptcha" type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha">
				</div>

				<div class="pure-controls">
					<label for="id_submit" class="pure-checkbox"></label>
					<button type="submit" id="id_submit" class="pure-button pure-button-primary" name="submit" style="display: block; clear: both; margin-top: 5px; ">Submit Comment</button>
				</div>
			</fieldset>
		</form>
		<script type="text/javascript">
			$(document).ready(function(){
				$("#commentForm").validate({
					ignore: ".ignore",
					groups: {
						agree: "agree"
					},
					errorPlacement: function(error, element) {
						if (element.attr("name") == "agree") {
							error.insertAfter("#agree-label");
						} else {
							error.insertAfter(element);
						}
					},
					rules:{
						comment_type:{ required: true },
						comment:{ required: true, maxLength: 2000 },
						"hiddenRecaptcha": {
							required: function() {
								if(grecaptcha.getResponse() == '') {
									return true;
								} else {
									return false;
								}
							}
						}
					},
					messages:{
						comment_type: {
							required: "Enter comment type",
						},
						comment: {
							required: "Enter comment",
						},
						"hiddenRecaptcha": "The captcha is not validated."
					}
				});
			});
		</script>
		{% else %}
		<div class="pure-form pure-form-aligned">
			<a href="/login">Login</a> to post comments or <a href="/signup">Signup</a>
		</div>
		{% endif %}
	{% endfor %}



	{% if comments %}
	<h4>Discussions: </h4>
		{% for c in comments %}
		<div class="commentBox">
			<div class="subtitle">
				A {{c.comment_type}} on verse
				<a href="/{{c.cnum}}/{{c.vnum}}/">
					{{c.cnum}}:{{c.vnum}}
				</a>
			</div>
			<p>
				{{ c.ctext }}
			</p>

			<div class="verseAuth">
				{% if c.user.first_name != "" or c.user.last_name != "" %}
					Posted by {{ c.user.first_name }} {{ c.user.last_name }}
				{% else %}
					Posted by{{ c.user }}
				{% endif %} on {{ c.date_published }}
			</div>
		</div>
		{% endfor %}
	{% endif %}
</div>
{% endblock %}
